<% include globals/head %>
<link rel="stylesheet" href="/css/admin.css" />


<section class="row online-users">
<h3>Online Users</h3>

	<users id="users">
		
	</users>
</section>

<script src="/js/admin.js" defer></script>
<% include globals/foot %>