<% include globals/head %>

	<ul id="main_menu" class="row">
		<li>
			<a href="/push/flights">Browser Push</a>
		</li>
		<li>
			<a href="/push/admin">Socket.IO Admin View</a>
		</li>
	</ul>

<% include globals/foot %>